body{
    padding: 12px 2px;
    background-color: #FFFF;
}
.container{
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}
.title{
    text-align: center;
}
.image{
    text-align: center;
    background-color: #fff;
    padding: 5px;

}
#image{
    width: auto;
    height: auto;
}

@media screen and (max-width: 900px) {
    #image{
        position: relative;
       width: 98%;
    }
  }

#headline{
    text-align: center; 

}
.ul-class{
    width: 50%;
    position: relative;
    margin: 30px auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
}

li
{
margin-bottom: 20px;  
color: #333;
}

@media screen and (max-width: 900px) {
    .ul-class{
        position: relative;
        width: 95%;
    }
  }
  blockquote
{
    font-style: italic;
}